
*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
*.bundle
*.so
*.o
*.a
mkmf.log

# files generated when using the gem
twitter_settings.yml

# common bundler paths for bundled gems
vendor/ruby/
vendor/cache/
